.footer {
  background-color: rgb(244, 244, 244);
  margin-top: auto;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #36395a;
}
a {
  text-decoration: none;
  text-decoration-color: black;
}
a:visited {
  color: black;
}
