.titleCard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-shadow: 1px 1px 5px black;
  text-align: center;
}
.homePageBackground {
  position: absolute;
  left: 0;
  width: 100vw;
  object-fit: cover;
  object-position: 0px;
  height: 300px;
  z-index: -1;
}
.homePageContent {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.infoCard {
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  border-radius: 20px;
  min-height: 200px;
  box-shadow: 1px 1px 5px black;
  font-family: sans-serif;
  font-size: 18px;
}

.infoCard > h2 {
  color: rgb(0, 31, 84);
  padding: 0 0 10px 0;
}
