.navBar {
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
}
.navBarItemContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 140rem;
  padding: 0 1rem;
}
menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.navButton {
  height: 50px;
  font-size: 18px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(182, 182, 182);
  border-radius: 10px;
  line-height: 1;
  text-decoration: none;
  color: inherit;
}
.navButton:hover {
  background: #c2c2c2;
}

.navBarImage {
  height: 50px;
  display: block; /* removes inline spacing under images */
}
.navBarImage:hover {
  background-color: rgb(240, 240, 240);
}

.imageButton {
  background-color: rgba(240, 248, 255, 0);
  all: unset;
}
