* {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
  font-family: jetBrains-mono, sans-serif;
}

html {
  font-size: 10px;
}
* {
  outline: 1px solid red; /*Debugging*/
}

@font-face {
  font-family: jetBrains-mono;
  src: url("../fonts/ttf/JetBrainsMono-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: jetBrains-mono;
  src: url("../fonts/ttf/JetBrainsMonoNL-Bold.ttf");
  font-weight: bold;
}
body {
  min-height: 100vh;
  min-height: 100svh; /* for mobile so the view port automatically accounts for the address bar going up and down*/
  /* this is to make the rest of the page a flex container that way the bottom of the content will grow if its not big enough to fill the page */
  display: flex;
  /* same with this*/
  flex-direction: column;
}

.content {
  max-width: 140rem;
  margin: auto;
}
